
body{
    background-color: #ffeef9;
    text-align: center;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
img {
    border: 1px solid #ddd; 
    border-radius: 4px; 
    padding: 5px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 300px;
  }
  
  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

.mainIMG{
    border: 1px solid #ddd; 
    border-radius: 4px; 
    padding: 5px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 30em;
}  

.checkbox-container{
    display: flex;
    align-items: center;
}

.checkbox-container label{
    cursor: pointer;
    display: flex;

}

.checkbox-container input[type='checkbox']{
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before{
    content: '';
    width: 1em;
    height: 1em;
    border-radius: .15em;
    margin-right: .5em;
    border: .05em solid black;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before{
    background-color: #35E07D;
}

.checkbox-container input[type='checkbox']:focus + label::before{
    box-shadow:0 0 20px black;
}

.checkbox-container input[type='checkbox']:disabled + label,
.checkbox-container input[type='checkbox']:disabled{
    color: #aaa;
    cursor: default;
}

.checkbox-container input[type='checkbox']:checked + label::before{
    content: '\002714';
    background-color: #27AE60;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.checkbox-container input[type='checkbox']:disabled + label::before{
    background-color: #ccc;
    border-color: #999;
}

footer{
    margin-top: auto;
}

label{
    display: inline-block;
    text-align: center;
    justify-content: center;
    line-height: 150%;
    font-size: .85em;
}

input.larger{
    transform: scale(5);
    margin: 10em;
}

#recipe_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
}

.btn-success{
    background-color: purple;
    color: white;
    border-color: purple;
    display: grid;
    justify-content: center;
    align-items: center;
}